# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgrespassword
DB_NAME=inventory_db

# Backend Configuration
DATABASE_URL=postgresql://postgres:postgrespassword@db:5432/inventory_db
PROJECT_NAME="Inventory & Order Management API"
ENVIRONMENT=development
